SSM::set Case1_Pressure/general_EV false
SSM::set Case1_Pressure/circuit_state false
SSM::set Case1_Pressure/duration 20
SSM::cycle 5
SSM::set Case1_Pressure/general_EV true
SSM::set Case1_Pressure/circuit_state false
SSM::set Case1_Pressure/duration 20
SSM::cycle 4
SSM::set Case1_Pressure/general_EV true
SSM::set Case1_Pressure/circuit_state true
SSM::set Case1_Pressure/duration 20
SSM::cycle 4
SSM::set Case1_Pressure/general_EV false
SSM::set Case1_Pressure/circuit_state true
SSM::set Case1_Pressure/duration 20
SSM::cycle 6
SSM::set Case1_Pressure/general_EV false
SSM::set Case1_Pressure/circuit_state false
SSM::set Case1_Pressure/duration 20
SSM::cycle 25
SSM::set Case1_Pressure/general_EV true
SSM::set Case1_Pressure/circuit_state false
SSM::set Case1_Pressure/duration 20
SSM::cycle 25
