SSM::set Case1_Doors/door_closed_f true
SSM::set Case1_Doors/door_closed_l true
SSM::set Case1_Doors/door_closed_r true
SSM::set Case1_Doors/open_EV false
SSM::set Case1_Doors/duration 70
SSM::cycle 3
SSM::set Case1_Doors/door_closed_f true
SSM::set Case1_Doors/door_closed_l true
SSM::set Case1_Doors/door_closed_r true
SSM::set Case1_Doors/open_EV true
SSM::set Case1_Doors/duration 70
SSM::cycle 75
