SSM::set Case1_Gears/gear_extended_f true
SSM::set Case1_Gears/gear_extended_l true
SSM::set Case1_Gears/gear_extended_r true
SSM::set Case1_Gears/retract_EV false
SSM::set Case1_Gears/duration 70
SSM::cycle 4
SSM::set Case1_Gears/gear_extended_f true
SSM::set Case1_Gears/gear_extended_l true
SSM::set Case1_Gears/gear_extended_r true
SSM::set Case1_Gears/retract_EV true
SSM::set Case1_Gears/duration 70
SSM::cycle 5
