SSM::set Computing_Module/handle true
SSM::set Computing_Module/door_open_f false
SSM::set Computing_Module/door_open_l false
SSM::set Computing_Module/door_open_r false
SSM::set Computing_Module/door_close_f true
SSM::set Computing_Module/door_close_l true
SSM::set Computing_Module/door_close_r true
SSM::set Computing_Module/gear_extended_f false
SSM::set Computing_Module/gear_extended_l false
SSM::set Computing_Module/gear_extended_r false
SSM::set Computing_Module/gear_retracted_f true
SSM::set Computing_Module/gear_retracted_l true
SSM::set Computing_Module/gear_retracted_r true
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 9
SSM::set Computing_Module/handle false
SSM::set Computing_Module/door_open_f false
SSM::set Computing_Module/door_open_l false
SSM::set Computing_Module/door_open_r false
SSM::set Computing_Module/door_close_f true
SSM::set Computing_Module/door_close_l true
SSM::set Computing_Module/door_close_r true
SSM::set Computing_Module/gear_extended_f false
SSM::set Computing_Module/gear_extended_l false
SSM::set Computing_Module/gear_extended_r false
SSM::set Computing_Module/gear_retracted_f true
SSM::set Computing_Module/gear_retracted_l true
SSM::set Computing_Module/gear_retracted_r true
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 4
SSM::set Computing_Module/handle false
SSM::set Computing_Module/door_open_f true
SSM::set Computing_Module/door_open_l true
SSM::set Computing_Module/door_open_r true
SSM::set Computing_Module/door_close_f false
SSM::set Computing_Module/door_close_l false
SSM::set Computing_Module/door_close_r false
SSM::set Computing_Module/gear_extended_f false
SSM::set Computing_Module/gear_extended_l false
SSM::set Computing_Module/gear_extended_r false
SSM::set Computing_Module/gear_retracted_f true
SSM::set Computing_Module/gear_retracted_l true
SSM::set Computing_Module/gear_retracted_r true
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 5
SSM::set Computing_Module/handle false
SSM::set Computing_Module/door_open_f true
SSM::set Computing_Module/door_open_l true
SSM::set Computing_Module/door_open_r true
SSM::set Computing_Module/door_close_f false
SSM::set Computing_Module/door_close_l false
SSM::set Computing_Module/door_close_r false
SSM::set Computing_Module/gear_extended_f true
SSM::set Computing_Module/gear_extended_l true
SSM::set Computing_Module/gear_extended_r true
SSM::set Computing_Module/gear_retracted_f false
SSM::set Computing_Module/gear_retracted_l false
SSM::set Computing_Module/gear_retracted_r false
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 4
SSM::set Computing_Module/handle false
SSM::set Computing_Module/door_open_f false
SSM::set Computing_Module/door_open_l false
SSM::set Computing_Module/door_open_r false
SSM::set Computing_Module/door_close_f true
SSM::set Computing_Module/door_close_l true
SSM::set Computing_Module/door_close_r true
SSM::set Computing_Module/gear_extended_f true
SSM::set Computing_Module/gear_extended_l true
SSM::set Computing_Module/gear_extended_r true
SSM::set Computing_Module/gear_retracted_f false
SSM::set Computing_Module/gear_retracted_l false
SSM::set Computing_Module/gear_retracted_r false
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 18
SSM::set Computing_Module/handle true
SSM::set Computing_Module/door_open_f false
SSM::set Computing_Module/door_open_l false
SSM::set Computing_Module/door_open_r false
SSM::set Computing_Module/door_close_f true
SSM::set Computing_Module/door_close_l true
SSM::set Computing_Module/door_close_r true
SSM::set Computing_Module/gear_extended_f true
SSM::set Computing_Module/gear_extended_l true
SSM::set Computing_Module/gear_extended_r true
SSM::set Computing_Module/gear_retracted_f false
SSM::set Computing_Module/gear_retracted_l false
SSM::set Computing_Module/gear_retracted_r false
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 8
SSM::set Computing_Module/handle true
SSM::set Computing_Module/door_open_f false
SSM::set Computing_Module/door_open_l false
SSM::set Computing_Module/door_open_r false
SSM::set Computing_Module/door_close_f true
SSM::set Computing_Module/door_close_l true
SSM::set Computing_Module/door_close_r true
SSM::set Computing_Module/gear_extended_f true
SSM::set Computing_Module/gear_extended_l true
SSM::set Computing_Module/gear_extended_r true
SSM::set Computing_Module/gear_retracted_f false
SSM::set Computing_Module/gear_retracted_l false
SSM::set Computing_Module/gear_retracted_r false
SSM::set Computing_Module/gear_shock_absorber_f true
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 4
SSM::set Computing_Module/handle true
SSM::set Computing_Module/door_open_f true
SSM::set Computing_Module/door_open_l true
SSM::set Computing_Module/door_open_r true
SSM::set Computing_Module/door_close_f false
SSM::set Computing_Module/door_close_l false
SSM::set Computing_Module/door_close_r false
SSM::set Computing_Module/gear_extended_f true
SSM::set Computing_Module/gear_extended_l true
SSM::set Computing_Module/gear_extended_r true
SSM::set Computing_Module/gear_retracted_f false
SSM::set Computing_Module/gear_retracted_l false
SSM::set Computing_Module/gear_retracted_r false
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 8
SSM::set Computing_Module/handle false
SSM::set Computing_Module/door_open_f true
SSM::set Computing_Module/door_open_l true
SSM::set Computing_Module/door_open_r true
SSM::set Computing_Module/door_close_f false
SSM::set Computing_Module/door_close_l false
SSM::set Computing_Module/door_close_r false
SSM::set Computing_Module/gear_extended_f true
SSM::set Computing_Module/gear_extended_l true
SSM::set Computing_Module/gear_extended_r true
SSM::set Computing_Module/gear_retracted_f false
SSM::set Computing_Module/gear_retracted_l false
SSM::set Computing_Module/gear_retracted_r false
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 11
SSM::set Computing_Module/handle false
SSM::set Computing_Module/door_open_f false
SSM::set Computing_Module/door_open_l false
SSM::set Computing_Module/door_open_r false
SSM::set Computing_Module/door_close_f true
SSM::set Computing_Module/door_close_l true
SSM::set Computing_Module/door_close_r true
SSM::set Computing_Module/gear_extended_f true
SSM::set Computing_Module/gear_extended_l true
SSM::set Computing_Module/gear_extended_r true
SSM::set Computing_Module/gear_retracted_f false
SSM::set Computing_Module/gear_retracted_l false
SSM::set Computing_Module/gear_retracted_r false
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 2
SSM::set Computing_Module/handle true
SSM::set Computing_Module/door_open_f false
SSM::set Computing_Module/door_open_l false
SSM::set Computing_Module/door_open_r false
SSM::set Computing_Module/door_close_f true
SSM::set Computing_Module/door_close_l true
SSM::set Computing_Module/door_close_r true
SSM::set Computing_Module/gear_extended_f true
SSM::set Computing_Module/gear_extended_l true
SSM::set Computing_Module/gear_extended_r true
SSM::set Computing_Module/gear_retracted_f false
SSM::set Computing_Module/gear_retracted_l false
SSM::set Computing_Module/gear_retracted_r false
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 4
SSM::set Computing_Module/handle true
SSM::set Computing_Module/door_open_f true
SSM::set Computing_Module/door_open_l true
SSM::set Computing_Module/door_open_r true
SSM::set Computing_Module/door_close_f false
SSM::set Computing_Module/door_close_l false
SSM::set Computing_Module/door_close_r false
SSM::set Computing_Module/gear_extended_f true
SSM::set Computing_Module/gear_extended_l true
SSM::set Computing_Module/gear_extended_r true
SSM::set Computing_Module/gear_retracted_f false
SSM::set Computing_Module/gear_retracted_l false
SSM::set Computing_Module/gear_retracted_r false
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 5
SSM::set Computing_Module/handle false
SSM::set Computing_Module/door_open_f true
SSM::set Computing_Module/door_open_l true
SSM::set Computing_Module/door_open_r true
SSM::set Computing_Module/door_close_f false
SSM::set Computing_Module/door_close_l false
SSM::set Computing_Module/door_close_r false
SSM::set Computing_Module/gear_extended_f true
SSM::set Computing_Module/gear_extended_l true
SSM::set Computing_Module/gear_extended_r true
SSM::set Computing_Module/gear_retracted_f false
SSM::set Computing_Module/gear_retracted_l false
SSM::set Computing_Module/gear_retracted_r false
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 12
SSM::set Computing_Module/handle true
SSM::set Computing_Module/door_open_f true
SSM::set Computing_Module/door_open_l true
SSM::set Computing_Module/door_open_r true
SSM::set Computing_Module/door_close_f false
SSM::set Computing_Module/door_close_l false
SSM::set Computing_Module/door_close_r false
SSM::set Computing_Module/gear_extended_f true
SSM::set Computing_Module/gear_extended_l true
SSM::set Computing_Module/gear_extended_r true
SSM::set Computing_Module/gear_retracted_f false
SSM::set Computing_Module/gear_retracted_l false
SSM::set Computing_Module/gear_retracted_r false
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 11
SSM::set Computing_Module/handle true
SSM::set Computing_Module/door_open_f true
SSM::set Computing_Module/door_open_l true
SSM::set Computing_Module/door_open_r true
SSM::set Computing_Module/door_close_f false
SSM::set Computing_Module/door_close_l false
SSM::set Computing_Module/door_close_r false
SSM::set Computing_Module/gear_extended_f false
SSM::set Computing_Module/gear_extended_l false
SSM::set Computing_Module/gear_extended_r false
SSM::set Computing_Module/gear_retracted_f true
SSM::set Computing_Module/gear_retracted_l true
SSM::set Computing_Module/gear_retracted_r true
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 7
SSM::set Computing_Module/handle true
SSM::set Computing_Module/door_open_f false
SSM::set Computing_Module/door_open_l false
SSM::set Computing_Module/door_open_r false
SSM::set Computing_Module/door_close_f true
SSM::set Computing_Module/door_close_l true
SSM::set Computing_Module/door_close_r true
SSM::set Computing_Module/gear_extended_f false
SSM::set Computing_Module/gear_extended_l false
SSM::set Computing_Module/gear_extended_r false
SSM::set Computing_Module/gear_retracted_f true
SSM::set Computing_Module/gear_retracted_l true
SSM::set Computing_Module/gear_retracted_r true
SSM::set Computing_Module/gear_shock_absorber_f false
SSM::set Computing_Module/gear_shock_absorber_l false
SSM::set Computing_Module/gear_shock_absorber_r false
SSM::cycle 17
