SSM::set ifvalid_sensor/sensor_1 false
SSM::set ifvalid_sensor/sensor_2 false
SSM::set ifvalid_sensor/sensor_3 false
SSM::cycle 7
SSM::set ifvalid_sensor/sensor_1 true
SSM::set ifvalid_sensor/sensor_2 false
SSM::set ifvalid_sensor/sensor_3 false
SSM::cycle 4
SSM::set ifvalid_sensor/sensor_1 true
SSM::set ifvalid_sensor/sensor_2 false
SSM::set ifvalid_sensor/sensor_3 true
SSM::cycle 4
